/* Animations */
.menu-btn.open .menu_hamburger{
    /* transform: translateX(-50px); */
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu_hamburger::before{
    /* transform: rotate(45deg) translate(35px,-35px); */
    transform: rotate(45deg);
}
.menu-btn.open .menu_hamburger::after{
    /* transform: rotate(-45deg) translate(35px,35px); */
    transform: rotate(-45deg);
}
.nav-container{
    transition: height .5s;
}
.navMenuOpen{
    display: block !important;
    height: unset;
    position: relative;
    left: -62px;
    margin-top: 75px;
}